# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos (MySQL)
DB_HOST=localhost
DB_USER=currency_master
DB_PASS=CurrencyHub_Pass_2026!
DB_NAME=currencyhub_db

# Seguridad de Autenticación
JWT_SECRET=tu_secreto_super_seguro_para_produccion_2026
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# API Externa (Opcional si cambia URL)
# EXTERNAL_API_URL=https://cdn.moneyconvert.net/api/latest.json
